<% include partials/header %>
        <% include partials/navbar %>
        <style type="text/css">

        body{
          background: url("stylesheets/images/neutral-coverphoto.jpeg");
	  background-size: cover;
	  
        }



        #content {
          color: #37474f;
          text-align: center;	
        }

        hr.style-seven {
            overflow: visible; /* For IE */
            height: 10px;
            border-style: solid;
            border-color: white;
            border-width: 1px 0 0 0;
            border-radius: 20px;
        }
        hr.style-seven:before { /* Not really supposed to work, but does */
            display: block;
            content: "";
            height: 30px;
            margin-top: -31px;
            border-style: solid;
            border-color: white;
            border-width: 0 0 1px 0;
            border-radius: 20px;
        }

        #button {
            margin-top: 130px;
		text-align: center;
		display: table-cell;
		vertical-align: middle;

        }

        </style>
		<div class="container background">    
			<div id="content">
					<div class="row s12 m4 l2">
						<div class="center-align">
							<header>
								<h1  style= "font-size: 5vw"><strong>Welcome to Date of Fates</strong>!</h1>
							</header>
								<hr class="style-seven" >
							<center>
							<p style= "font-size: 1.5vw"><strong>Date of Fates is a service that will plan a date or experience for you based on your interests. </strong> </p>
							<br>
							</center>							
							<center><a class="waves-effect waves-light btn" style= "font-size: 2vw; width: 25vw; height: 3vw" href="/options" id="button"><center>Adventure Awaits</center></a></center>

						</div>
					</div>
			</div>
		</div>
		<!-- Scripts -->
			<script src="landing/js/jquery.min.js"></script>
			<script src="landing/js/jquery.scrolly.min.js"></script>
			<script src="landing/js/skel.min.js"></script>
			<script src="landing/js/skel-viewport.min.js"></script>
			<script src="landing/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="landing/js/main.js"></script>
<% include partials/footer %>
