<% include partials/header %>
        <% include partials/navbar %>
        <!--<link rel="stylesheet" href="../public/options.css">-->
        <style type="text/css">

        body{
          background-size: 1280px 700px;


        }

      #instructions {
        padding-bottom: 50px;
      }

        #content {
          color: #37474f;
          text-align: center;
          padding-top: 2%;
        }

        hr.style-seven {
            overflow: visible; /* For IE */
            height: 10px;
            border-style: solid;
            border-color: white;
            border-width: 1px 0 0 0;
            border-radius: 20px;
        }
        hr.style-seven:before { /* Not really supposed to work, but does */
            display: block;
            content: "";
            height: 30px;
            margin-top: -31px;
            border-style: solid;
            border-color: white;
            border-width: 0 0 1px 0;
            border-radius: 20px;
        }

        #button {
            margin-top: 130px;
        }

        </style>
		<div class="container">
			<div id="content">
					<div class="row s12 m4 l2">
						<div class="center-align">
							<header>
								<h1 ><strong>Plan your date!</strong></h1>
							</header>
								<hr class="style-seven" >
							<p id="instructions"><strong>Fill out the form so we can personlize your date </strong> </p>


<script> function clearInp() {
document.getElementsByTagName("input").value = "";
}
</script>
<form autocomplete="off">

	  <div class="input-field">
	<label>Date</label>
	<input type="text" class="datepicker">
	</select>
	
</div>        
	<p>Budget</p>
        



        <div>
					<div class="row s12 m4 l2">
						<div class="center-align">
          <input type="range"
            id="start" name="volume"
            min="0" max="500" steps="10">

            <center style="center-align" id="textinput"></center>
            </div>
            <div>
</div>
   <div class="dropdown">
	<label>Activity Preference</label>
        <select id="actPref" style="display: inline;">
        <option value = "Leisure">Leisure</option>
        <option value = "Mild">Mild</option>
        <option value = "Extreme">Extreme</option>
        </select>
	
    </div>

    <label>Cuisine Preferences</label> 
    <p>
      <label>
        <input id ="chinese" type="checkbox" value="off"/>
        <span>Chinese</span>
      </label>
    </p>
    <p>
      <label>
        <input id="japanese" type="checkbox" value="off"/>
        <span>Japanese</span>
      </label>
    </p>
    <p>
      <label>
        <input id="italian" type="checkbox" value="off" />
        <span>Italian</span>
      </label>
    </p>
    <p>
      <label>
        <input id="mexican" type="checkbox" value="off"/>
        <span>Mexican</span>
      </label>
    </p>
    <p>
      <label>
        <input id="american" type="checkbox" value="off"/>
        <span>American</span>
      </label>
    </p>
    <p>
      <label>
        <input id="vietnamese" type="checkbox" value="off"/>
        <span>Vietnamese</span>
      </label>
    </p>
    <label>Do You Need Transportation?</label>
    <p>
      <label>
        <input name="group1" type="radio" />
        <span>Yes</span>
      </label>
    </p>
    <p>
      <label>
        <input name="group1" type="radio" />
        <span>No</span>
      </label>
    </p>
  </form>

 

        <script> function process(){
         // var excel = require('exceljs');
         // var workbook = new excel.Workbook();
          var foodStr ="";
          var actStr= "";
          
          var inputElements = document.getElementsByTagName('input');
    for(var i=0; inputElements[i]; ++i){
      if(inputElements[i].type == 'checkbox'){
        if(inputElements[i].checked){
           inputElements[i].value="on";
           //break;
        }
      }
}

          console.log(document.getElementById("vietnamese").value);
          if(document.getElementById("chinese").value=="on"){
            foodStr = "Moon Star";
          }
          if(document.getElementById("japanese").value=="on"){
            foodStr = "Sakura";
          }
          if(document.getElementById("mexican").value=="on"){
            foodStr = "Chipotle";
          }
          if(document.getElementById("american").value=="on"){
            if(document.getElementById("textinput").innerHTML<200)
              foodStr = "Speedie and Rib Pit";
            else
              foodStr = "Lost Dog Cafe & Lounge";
          }
          if(document.getElementById("vietnamese").value=="on"){
            foodStr = "Phuong Nam";
          }
          
          /*workbook.xlsx.readFile('../HACKBU Research.xlsx')input
            .then(function(worksheet){
            var tagCol = worsheet.getColumn('H');
            var foodIndex =-1;
            dobCol.eachCell(fuction(cell,rowNumber){
            if(cell.text.includes()){//TODO
            foodIndex=rowNumber;
            }
            });*/
         // if(foodIndex==-1){
          //}
          console.log(foodStr);
          var leisures = ["Uncorked Creations","Apple Hills","Hidden Hot Springs at Otsiningo Park"];
          var milds = ["Binghamton Zoo at Ross Park","Robot City Games and Arcade","Xscapes","Skate Estate","Paddle Boarding at Finger Lakes"];
          var extremes = ["Endless Mountain Skydivers", "Endless Mountain Outfitters","Greek Peaks", "Horseback Riding","Obstacle Course Facility"];
          var budget = document.getElementById("textinput").innerHTML;
          if(document.getElementById("actPref").value=="Leisure"){
            var highLes = ["Uncorked Creations", "Hidden Hot Springs at Otsinigo Park"];
            if(budget>=80){
              actStr = highLes[Math.floor(Math.random() * 2)];
            }else {actStr ="Apple Hills";}
          } else if(document.getElementById("actPref").value=="Mild"){
            var lowMild = ["Binhamton Zoo at Ross Park","Skate Estate"];
            var highMild = ["Robot City Games and Arcade","Xscapes","Paddle Boarding at Finger Lakes"];
            if(budget>=80){
              actStr = highMild[Math.floor(Math.random() * 3)];}
            else{
              actStr = lowMild[Math.floor(Math.random() * 2)];}
          }
          else{
            var lowExtreme = ["Horseback Riding","Obstacle Course Facility"];
            var highExtreme = ["Endless Mountain Skydivers","Endless Mountain Outfitters","Greek Peaks"];
            if(budget>=80){
              actStr = highExtreme[Math.floor(Math.random() * 3)];}
            else{
              actStr = lowExtreme[Math.floor(Math.random() * 2)];}
          }
          console.log(actStr);

 var form = document.createElement("form");
    form.setAttribute("action", "/results");

  /*
            var hiddenField = document.createElement("input");
            hiddenField.setAttribute("type", "hidden");
            hiddenField.setAttribute("name", );
            hiddenField.setAttribute("value", params[key]);

            form.appendChild(hiddenField);
  

    document.body.appendChild(form);
    form.submit();
*/
      localStorage.setItem("foodStr",foodStr);
      localStorage.setItem("actStr",actStr);
      


        }


        /*  var actCol = worsheet.getColumn('R');
            var actIndex =-1;
            dobCol.eachCell(fuction(cell,rowNumber){
            if(cell.text.includes()){
            foodIndex=rowNumber;
            }
            });
         */

        

</script>
<a onclick='process()' href="/results" id="button" class="waves-effect waves-light btn blue-grey darken-2">Click Here for Adventure!</a>

</div>
</div>
</div>
</div>
<!-- Scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
const elems = document.querySelectorAll('.datepicker');
M.Datepicker.init(elems, {});
</script>

<script src="landing/js/jquery.min.js"></script>
<script src="landing/js/jquery.scrolly.min.js"></script>
<script src="landing/js/skel.min.js"></script>
<script src="landing/js/skel-viewport.min.js"></script>
<script src="landing/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="landing/js/main.js"></script>
<% include partials/footer %>
